@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap');
body{
    display: flex;
    flex-direction: column;
    font-family: roboto;

}
.header {
    display: flex;
    justify-content: space-between;
    padding: 24px 80px;
    background-color: #1f2937;
}
.logo {
    font-size: 24px;
    color: #f9faf8;
}
ul {
    display: flex;
    list-style: none;
    padding: 0;
    gap: 12px;
    color: #E5E7EB;
    font-size: 18px;
}
a {
    color:silver;
    text-decoration: none;
}
.first-content{
    background-color:#1f2937;
    display: flex;
    padding: 12px 80px;
    height: auto;
    justify-content: space-between;
}
.left-side {
    display: flex;
    flex-direction: column;
    width: 120px;
}
.title {
    color: #f9faf8;

    font-weight:bolder;
    font-size: 42px;
}
.subtext {
    color: #E5E7EB;

    font-size: 18px;
    margin: 8px 0px;
}
.boton {
    border-radius: 6px;
    border: none;
    background-color: dodgerblue;
    color: white;
    padding: 6px 30px;
    margin: 8px;
}
.panoramic {
    width: 600px;
}
.second-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.subtitle{
    color: black;
    text-align: center;
    font-weight: bold;
    font-size: 32px;
    margin: 50px;
}
.boxes{
    display: flex;
    justify-content: space-evenly;
}
.box{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 200px;
    margin-top: 30px;
    margin-bottom: 100px;

}
.img-box{
    border-radius: 12px;
    border: 4px solid cornflowerblue;
    width: 140px;
    height: 140px;
    display: flex;
    justify-content: center;
}
.img-box img{
    width: 80%;
    height: 100%;
    object-fit: contain;
}

.subimage {
    text-align: center;
}
.third-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #E5E7EB;
    padding: 60px;
    gap: 25px;
    
}
.testimonial{
    font-size: 36px;
    font-style: italic;
    font-weight: lighter;
    color: #1F2937;
}
.quoute{
    font-family: Arial, Helvetica, sans-serif;
    text-align: right;
    font-size: 18px;
    font-style: normal;
    font-weight: bold;
    align-self:flex-end;
}